# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 5

print(number)

5

##### Assinging float

In [3]:
num_float = 2.7

print(num_float)

2.7

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1 = 20
num2 = 2.5
result = num1 + num2

print( result)

result += 10

print(result)

22.5
32.5

##### Subtraction

In [11]:
sub_result = num1 - num2

print(sub_result)

sub_result -= 2
print(sub_result)

17.5
15.5

##### Multiplication

In [12]:
mul_result = num1 * num2
print(mul_result)

50.0

##### Division

In [14]:
div_result = num1 / num2
print(div_result)

0.125

##### Floor Division

In [16]:
floor_div = num1 // num2
print(floor_div)

8.0

##### Modulo

In [19]:
result_mod = 11 % 2
print(result_mod)

1

##### Exponential

In [23]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [27]:
first_name = 'Chris'
print(first_name)

Chris

##### print() <br>
<p>Don't forget about end=' '</p>

In [29]:
print('This is my first name:' , first_name)

print('Full name: ', first_name, end= " Eason")

This is my first name: Chris
Full name:  Chris Eason

##### String Concatenation

In [37]:
first_name = 'Chris'
last_name = 'Eason'
full_name = first_name + " " + last_name

print(full_name)

Chris Eason

##### Type Conversion

In [40]:
number = "62"
change_type_num = int(number)

print(change_type_num)

62

##### input()

In [1]:
first_name = input('What is your name?')

print("Nice to meet you, " + first_name)

##### format()

In [1]:
age = input("What is your age? ")

result_string = "You are {} {} and your getting wiser:".format(age, first_name)

##### Old Way (python 2)

In [4]:
result_string2 = "You are %s and you look great!" %22
age = 22
print(result_string2)

You are 22 and you look great!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [3]:
color =input( )
year =input( )
make =input( )
model =input( )


print('My name is Chris Eason')
print("The color of my car is "  + color)
print("My car was made in "  + year)
print("It is a "  + make)
print("The model is a "  + model)

My name is Chris Eason
The color of my car is Red and Black
My car was made in 2022
It is a Ford
The model is a F-350

In [12]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 12
# if num1 == 4:
#     print("This is true")
# else:
#     print("This is not true ")

if num2 < num1:
    print("num 2 is less than num1")
elif num1 < num2:
    print("num1 is less then num2")
else:
    print("Eqaul values")

num1 is less then num2

##### 'is' keyword

In [14]:
num3 = 30

if num3 == 30:
    print("This is right")

This is right

##### 'in' keyword

In [17]:
sis_name = "Anna"

if "Anna" in sis_name:
    print("Her nickname is poohbear")

Her nickname is poohbear

##### 'not in' keyword'

In [25]:
bro_name = "Tim"

if "z" not in bro_name:
    print("not your brother")

not your brother

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [31]:
name = input("Please enter your name:")
if 'p' in name.lower( ):
    print("There is a p in your name!")
else:
    print("There is no p in your name.")

There is a p in your name!

## Using 'and'/'or' with If Statements

In [34]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# if with and statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")

#  If with "or" statement
if num_11 > num_12 or num_13 == num_14:
    print("True or False")

True and True
True or False

### Elif Statements

In [39]:
first_name = input('What is your name? ')

if first_name == "Gracie":
    print('The name is Gracie')
elif first_name == "Emma":
    print("Name is Emma")
elif first_name := "Max":
    print('Name is not Max')
else:
    print("Name is Max")

Name is not Max

### Else Statements

In [ ]:
# see above

### For Loops

In [41]:
name = "Christopher Eason"
print(name)

for letter in name:
    print(letter)

Christopher Eason
C
h
r
i
s
t
o
p
h
e
r

E
a
s
o
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [43]:
# will continue to next iteration

for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [44]:
# will break out of current loop\
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [45]:
name = "Christopher Eason"

for i in name:
    pass

##### Double For Loops

In [48]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [51]:
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [58]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == "yes":
        game_over = False

Infinite Loop
Infinite Loop
Infinite Loop

##### While & For Loops Used Together

In [59]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))

    for i in range(2):
        print("For loop iteration: ", str(i + 1))

    num += 1

 While loop iteration: 0
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 1
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 2
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 3
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 4
For loop iteration:  1
For loop iteration:  2

### Built-In Functions

##### range()

In [63]:
#  range(start, stop, step)

# for i in range(1,20,2):
#     print(i)  odd numbers

for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [64]:
name = 'Timothy John Eason'

length = len(name)
print(length)

18

##### help()

In [65]:
#  Use this function to view more info about a python function

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [67]:
# Check a varible to find out what object family (or data type) it belongs to
# isintance(var,type)

print(isinstance(4.5, int))

if isinstance(4.5,float):
   print("This is a float")

False
This is a float

##### abs()

In [68]:
#  /-5/ = 5

print(abs(-5))

5

### Try and Except

In [2]:
# use this to log out graceful and useful error messages
# Does not stop the program! neato!

try:
    number_test = 0
    input_num = int(input('Guess a Number'))
    print('Your number is: ' + str(input_num))

except:
    print("That didnt work! change your input to a number")

Your number is: 12345

### Lists

##### Declaring Lists

In [22]:
list_1 = []

names = ['Chris', 'Tim', 'Anna', 'Cody', 'Jacob']

print(names)

['Chris', 'Tim', 'Anna', 'Cody', 'Jacob']

##### Indexing a List

In [11]:
# [start: stop: step]

# single index
print(names[3])

#print sarting at index 1 going to end
print(names[1:])

# starting at the beginning of a list up till a number
print(names[:3])

# starting at index 1 and going up by 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

Cody
['Tim', 'Anna', 'Cody', 'Jacob']
['Chris', 'Tim', 'Anna']
['Tim', 'Cody']
['Jacob', 'Cody', 'Anna', 'Tim', 'Chris']

##### .append()

In [12]:
names.append('John')
print(names)

['Chris', 'Tim', 'Anna', 'Cody', 'Jacob', 'John']

##### .insert()

In [28]:
names.insert(3, "kev")
print(names)

['Chris', 'Tim', 'Anna', 'kev', 'kev', 'kev', 'Cody']

##### .pop()

In [25]:
# defaults to the last value if no parameter is given
# pop retuens the element that wwas removed in case you want to assign it

my_name = names.pop()
print(my_name)
print(names)

Jacob
['Chris', 'Tim', 'Anna', 'Cody']


##### .remove()

In [29]:
# Value to be removed rather than index
names.remove('kev')
print(names)

# remove multiple kev from list
while 'kev' in names:
  names.remove('kev')
print(names)

['Chris', 'Tim', 'Anna', 'kev', 'kev', 'Cody']
['Chris', 'Tim', 'Anna', 'Cody']

##### del()

In [ ]:
# Goes by index not value
#Can cause index errors, be careful with del

del(names[2])
print(names)

##### Concatenating Two Lists

In [32]:
# Will append 2 lists together, will not add values!!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [37]:
# Lists can hold ANY type of other element, even other list
# can go deep as you want nesting list

name = ['Tim', 'Max', 'Sam', ['Chris', ['ben', 'John'], 'Dean']]
print(name)
print(name[3][1][1])

['Tim', 'Max', 'Sam', ['Chris', ['ben', 'John'], 'Dean']]
John

##### Looping Through Lists

In [39]:
# 2 ways thru loop through a list: by index : other by using the in keyword

# By index
for i in range(len(name)):
    print(name[i])

# Loop with 'in'
for i in name:
    print(i)

Tim
Max
Sam
['Chris', ['ben', 'John'], 'Dean']
Tim
Max
Sam
['Chris', ['ben', 'John'], 'Dean']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [40]:
for num in range(1,1001):
    cube = num ** 3
    if cube > 1000:
        break
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [44]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
        return True
    
for num in range(1,101):
    if is_prime(num):
        print(num)

5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [46]:
age = int(input("Enter your age: "))

if age < 18:
    print("You are a kid!")
elif age >= 18 and age <= 65:
    print("You are a Adult!")
else:
    print("You are a senior!")

You are a kid!